.termsdiv {
  position: absolute;
  display: flex;
  width: 100%;
  top: 0;
  height: 80vh;
  background-color: rgba(240, 248, 255, 0.226);
  /* border: 1px solid red; */
}
.termsContainer {
  width: 40%;
  margin: auto;
  height: 500px;
  background-color: rgb(255, 255, 255);
  /* border: 1px solid red; */
  padding: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.termsContainer > p {
  font-weight: 800;
}
.termsbtns {
  display: flex;
  justify-content: space-around;
  padding-top: 1rem;
}
